.newtweet-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid white; */
    height: 25vh;
    color: white;
    padding: 20px;
    font-size: 15px;
    margin-top: 15px;
}

h1 {
    font-size: 28px;
    font-weight: 500;
    margin: 0 0 18px 0;
}

h1.trend {
    margin: 0;
}

input {
    margin: 10px 0 20px 0;
    width: 100%;
    min-height: 2em;
    max-height: 4em;
    height: 2.5em;
    border-radius: 10px;
    background-color: #1b232c;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid #4f5c6a;
    color: white;
}

.bottom {
    align-self: flex-end;
    /* width: 150px; */
    /* border: 1px solid; */
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.bottom>span {
    margin-right: 14px;
}

.newtweet-button {
    font-weight: bold;
    width: 80px;
    border-radius: 2rem;
    padding: 4px 8px;
    color: white;
    background-color: #3E9BEF;
    border: none;
}