.trends_section {
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    border-left: 1.5px solid #4f5c6a;
    padding: 10px 20px;
}

.twitterIcon {
    transform: rotate(180deg);
}

.title {
   font-weight: 500;
   margin: 24px 2.5vh 26px 0;
   margin-left: 0;

}

.trendContainer {
    background-color: #1b232c;
    /* padding: 10px; */
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    font-size: 15px;
}

.trendContainer > .row {
    text-align:left;
    padding: 15px 15px;
    cursor: pointer;
    /* padding-left: 15px; */
    /* margin-bottom: 15px; */
}

.trendContainer > .row:hover {
    background-color: #232d3b;
    border-radius: 10px;
    opacity: 0.8;
}


.trendContainer > .row > h1 {
    font-size: 15px;
    text-align:left;
    font-weight: bold;
}

.trendContainer > .row > span {
    color: #5a6774;
    text-align:left;
}
.notrend {
    font-family: 'Mont-heady';
    text-align: center;
}

.hashtag {
    font-family: sans-serif;
}